.nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 1.2em 0.7em;
  border-radius: 3px 15px 3px 15px;
  position: fixed;
  right: 0;
  left: 0;
  background: #59205dd9;
  box-shadow: 2px 5px 6px 0 rgba(59, 40, 70, 0.37);
  backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 4;
}

.logo{
  margin-left: 2em;
}

.ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
    justify-content: center;
    width: 70%;
}

.li {
  margin: 0 10px;
}

.logo{
  width: 15%;
}

.inputSearch {
  padding: 8px 12px;
  border-bottom: white 1px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  opacity: 0;
  border-radius: 17px;
  transform: scale(0.6);
  transition:  transform 0.3s ease-in-out, visibility 0s linear 0.3s;
}

.inputSearchVisible {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  border: white solid 2px;
  border-radius: 17px;
}
