.container {
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 94vh;
    background-size: cover;
    width: 100%;
}

.mainDiv{
  width: 72%;
  display: flex;
  flex-direction: column;
  padding-right: 6em;
  margin-top: 7em;
}

.sidebar {
  width: 18%;
  padding: 40vh 1em;
  position: relative;
  border-radius: 1em 3em 1em 3em;
  background-color: #e7d6e840;
  box-shadow: 1px 5px 6px 0 rgba(59,40,70,.37);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid hsla(0,0%,100%,.18);
  align-self: baseline;
  margin-top: 6em;
}

.sidebar section {
  margin-bottom: 20px;
}

.sidebar h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.sectionImage{
  width: 40%;
}

.section{
  margin-top: 2em;
}
